* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    }
  
.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

.links {
    display: flex;
    justify-content: flex-end;
}

.main-page {
    margin-left: 20px;
}

.db-demo {
    margin-left: auto;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}
  
.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}
  
.photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
  
.photo-grid-item {
    border: 1px solid #fff;
    width: 900px;
    height: 300px;
}


.first-item {
    order: 1;
}
  
.last-item {
    order: -1;
}

.github,
.group-project {
    align-self: flex-end;
    margin-bottom: 20px;
}
    
.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.footer-one,
.footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
}

.title{
    display: block;
    background-color: rgba(0,139, 139,0.8);
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0;
}

.photo-grid-container .carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
}

.photo-grid-container .carousel .carousel_item,
.photo-grid-container .carousel .carousel_item_hidden {
    display: none;
}

.photo-grid-container .carousel .carousel_item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.photo-grid-container .carousel .carousel_item_visible {
    display: block;
}

.photo-grid-container .carousel .carousel_actions {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.photo-grid-container .carousel .carousel_actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    justify-content: flex-end;
}